.App {
  text-align: center;
  background-color: #D76735 ;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Mansalva', cursive;
  line-height: 0.4;
  color: #fff;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

button {
  font-family: 'Nanum Pen Script', cursive;
  width: 200px;
  height: 50px;
  font-size: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: solid 2px #000;
  background-color: #fbd266;
}

img {
  margin: 40px;
  max-width: calc(100% - 100px);
  height: auto;
  border: solid #fff 10px;
}

p{
  font-family: 'Nanum Pen Script', cursive;
}

.button {
  flex: 1;
}